body {
    background-color: #581845  ;
    background-attachment: fixed;
    font-size: 20px;
    line-height: 18px;
    color: #333;
    font-family: serif;
}
.div:txt { 
    width: 200px; 
    background-image: url("img/trees.png"); 
    background-repeat: no-repeat;
    padding: 5px; 
    border: solid 1px black; 
    float: left; 
    position: relative; 
    top: 40px; 
    left: -70px; 
   }
