body {
    background-color: #212223;
    background-attachment: fixed;
    font-size: 20px;
    line-height: 18px;
    color: #af621d;
    font-family: serif;
}
#txt { 
    width:130x; 
    height:300px;
    font-size:150px;
    background-image: url("img/trees.png"); 
    background-repeat: no-repeat;
    padding: 110px; 
    margin: 1px 200px;
    margin-bottom: 100px:
    border: solid 1px black; 
    float: left; 
    position: relative; 
    top: 40px; 
    left: 70px; 
   }

.list { 
    width:30x; 
    height:50px;
    font-size:50px;
    line-height:50px;
    padding: 0px; 
    margin: -400px 200px;
    margin-bottom: 100px;
    float: right; 
    position:relative;
    top: 0px; 
    left: 70px;     
}
